<div class="header-top">
  🚚 Miễn phí vận chuyển đơn từ 500.000₫ &nbsp;|&nbsp;
  Tư vấn kỹ thuật 24/7 &nbsp;|&nbsp;
  <a href="tel:0338937472">Hotline: 0338 937 472</a>
</div>
<div class="nav-wrap">
  <a href="/index.html" class="logo">ThanhHau<span>.</span></a>
  <nav>
    <a href="/pages/products.html">Sản phẩm</a>
    <a href="/pages/products.html?cat=SmartHome">SmartHome</a>
    <a href="/pages/products.html?cat=Camera">Camera</a>
    <a href="/pages/products.html?cat=Đèn NLMT">Đèn NLMT</a>
    <a href="/pages/contact.html">Liên hệ</a>
  </nav>
  <div class="nav-right">
    <a href="https://zalo.me/0338937472" target="_blank" class="btn-primary">💬 Zalo tư vấn</a>
    <button class="cart-btn" onclick="openCart()">
      🛒 <span class="cart-badge" id="cartBadge">0</span>
    </button>
  </div>
</div>
